<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="form-container">
    <form method="POST" action="/">
      <label for="name">Please enter your first name in the field below</label>
      <input type="text" name="name">
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>