<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= docTitle %></title>
</head>
<body>
  <%- include('../layouts/header') %>
  <h3>Registered users</h3>
  <ul>
    <% allUsers.map(user => { %>
      <li><%= user.name %></li>
    <% }) %>
  </ul>
  <a href="/">Add another user</a>
</body>
</html>